.main{
padding-left: 38%;
padding-top: 10%;

animation: slideIn 1.5s ease-in-out forwards;
font-family: Arial, Helvetica, sans-serif;
font-style: inherit;


.button{
    text-align: center;
    background-color: #eff16d; /* Green */
width: 70px;
    color: rgb(245, 4, 4);
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px ;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    font-stretch: expanded;
    border-radius: 20%;
    border-style: inset;
    border-color: rgb(103, 215, 219);
    font-size: 40px;
    -webkit-tap-highlight-color: transparent;
    transform: scale(0.98);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
}

.btn{
padding-left: 14%;
padding-top: 5%;
}
}

.button:hover{
    background-color: #241a0d;
    color: aliceblue;
    transform: scale(1.14);
    box-shadow: 0 0 37px #cf6604;

}


@keyframes slideIn {
 
    0% {
      transform: translateY(500px) scale(.2);
    }
    100% {
      transform: translateY(0px) scale(1);
    }
  }
  
  
  
  .button:after {
    content: "";
    height: 10px;
    position: absolute;
    top: 390px;
    width: 100%;
  }
